/* 

main{
    font-family: Verdana, Geneva, Arial, sans-serif;
  width : 100%;
  height : 100%;
}
#totalDiv{
  width: 100%;
  display: flex;
}*/
#monthDiv{
  color: aliceblue;
  width: 30%;
  height: 50px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;

}
/*#expenseDiv{
  width: 40%;
  height: 250px;
  text-align: center;
  background-color: azure;
  float:left;
   margin: auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 5px double gray;
}
#incomeDiv{
  width: 40%;
  height: 250px;
  text-align: center;
  background-color: azure;
  display:inline-block; 
    margin: auto;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  border: 5px double gray;
}
.optionsItem{
    font-family: Verdana, Geneva, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
   margin-top : 20px;
}
.optionTitle{
  background-color: coral;
  margin-right: 20px;
}
.totalItem{
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
} */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}
@font-face {
  font-family: "icomoon";
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot");
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.ttf") format("truetype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.woff") format("woff"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-cloudy:before {
  content: "\e60f";
}
.icon-sun:before {
  content: "\e610";
}
.icon-cloudy2:before {
  content: "\e611";
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1f253d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
p,
a,
span {
  color: #fff;
}
.scnd-font-color {
  color: #9099b7;
}

.input-container {
  position: relative;
}
input[type="text"] {
  width: 260px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 45px;
  background: #50597b;
  color: #fff;
  border: solid 1px #1f253d;
  border-radius: 5px;
}
input[type="text"]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
input[type="text"]:-moz-input-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
input[type="text"]::-moz-input-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
input[type="text"]:focus {
  outline: none; /* removes the default orange border when focus */
  border: 1px solid #11a8ab;
}
.input-icon {
  font-size: 22px;
  position: absolute;
  left: 31px;
  top: 10px;
}
.input-icon.password-icon {
  left: 35px;
}

.horizontal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-list li {
  float: left;
}

.clear {
  clear: both;
}

.icon {
  font-size: 25px;
}

.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

main{
  margin: auto;
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(3, 1fr);
}

.button {
  display: block;
  width: 175px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.button:hover {
  text-decoration: none;
}

.arrow-btn-container {
  position: relative;
}
.arrow-btn {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.arrow-btn:hover {
  text-decoration: none;
}
.arrow-btn.left {
  border-top-left-radius: 5px;
}
.arrow-btn.right {
  border-top-right-radius: 5px;
  right: 0;
  top: 0;
}
.arrow-btn .icon {
  display: block;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  line-height: 17px;
  width: 21px;
  margin: 20px auto;
  text-align: center;
}
.arrow-btn.left .icon {
  padding-right: 2px;
}

.profile-picture {
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.big-profile-picture {
  margin: 0 auto;
  border: 5px solid #50597b;
  width: 150px;
  height: 150px;
}
.small-profile-picture {
  border: 2px solid #50597b;
  width: 40px;
  height: 40px;
}

.container {
  float: left;
  width: 300px;
}
.block {
  margin-bottom: 25px;
  background: #394264;
  border-radius: 5px;
  
}
.menu-box {
  height: auto;
  display: inline-block;
  margin-left: 20px;
}
.menu-box .titular {
  background: #11a8ab;
}
.menu-box-menu .icon {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  margin-left: 20px;
  margin-right: 15px;
}
.menu-box-number {
  width: 150px;
  line-height: 22px;
  background: #50597b;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu-box-menu li {
  height: 60px;
  position: relative;
}
.menu-box-tab {
  line-height: 60px;
  display: block;
  border-bottom: 1px solid #1f253d;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: azure;
}
.menu-box-tab:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
  text-decoration: none;
}
.menu-box-tab:hover .icon {
  color: #fff;
}
.menu-box-tab:hover .menu-box-number {
  background: #e64c65;
}
.donut-chart-block {
  height: 434px;
}
.donut-chart-block .titular {
  padding: 10px 0;
}
.donut-chart {
  height: 270px;
}
