/* 

main{
    font-family: Verdana, Geneva, Arial, sans-serif;
  width : 100%;
  height : 100%;
}
#totalDiv{
  width: 100%;
  display: flex;
}*/

#monthDiv{
  color: aliceblue;
  width: 30%;
  height: 50px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
  text-decoration: underline;

}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}
@font-face {
  font-family: "icomoon";
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot");
  src: url("https://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix")
      format("embedded-opentype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.ttf") format("truetype"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.woff") format("woff"),
    url("https://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #1f253d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* h1 {
  font-size: 23px;
}*/

h2 {
  font-size: 17px;
}
h1,
h2,
p,
a,
span {
  color: #fff;
}


.titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

main{
  margin: auto;
  display: grid;
  font-family: Verdana, Geneva, Arial, sans-serif;
  /* place-items: center; */
  grid-template-columns: repeat(3, 1fr);
}

.block {
  margin-bottom: 25px;
  background: #394264;
  border-radius: 5px;
  
}
.report-box {
  height: auto;
  display: inline-block;
  margin-left: 20px;
}
.report-box .titular {
  background: #11a8ab;
}

.report-box-amount {
  width: 150px;
  line-height: 22px;
  background: #50597b;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.income-report li {
  height: 60px;
  position: relative;
}
.expense-report li {
  height: 60px;
  position: relative;
}
.report-box-tab {
  line-height: 60px;
  display: block;
  border-bottom: 1px solid #1f253d;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  color: azure;
}
.report-box-tab:hover {
  background: #50597b;
  border-top: 1px solid #1f253d;
  text-decoration: none;
}
.report-box-tab:hover .icon {
  color: #fff;
}
.report-box-tab:hover .report-box-amount {
  background: #e64c65;
}

